@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .under {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
    }

    .over {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        opacity: 0.65;
        visibility: hidden;
    }
</style>

<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img width="200" height="200" class="under avatar img-circle" id="ProfilePic" style="cursor: pointer;" alt="avatar" src="//placehold.it/200" onclick="$('#myInput').click();">
                <img id="loading" width="200" height="200" class="over avatar img-circle" style="cursor: pointer;" alt="avatar" src="~/images/loading.gif">
                <input id="myInput" class="form-control" style="visibility:hidden" type="file">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="row">
                <div class="col-md-8">
                    <h3>Personal info</h3>
                    <form id="editform" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Reknown:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="reknown">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Biography:</label>
                            <div class="col-md-8">
                                <textarea rows="5" class="form-control" id="bio" placeholder="Biography"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-success" id="btnSaveChanges" type="button" value="Save Changes">
                                <span></span>
                                <input class="btn btn-default" type="reset" value="Cancel">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <form method="post" class="form-horizontal" role="form">
                        <h3>Reset Password:</h3>
                        <div class="form-group">
                            <label class="col-md-3 control-label">New password:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm password:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary" type="button" value="Change Password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var userId = getParameterByName('id');
    $(document).ready(function () {
        var nameInput = $("#name");
        var emailInput = $("#email");
        var reknownInput = $("#reknown");
        var bioInput = $("#bio");
        var profilePic = $('#ProfilePic');

        var user = getLogInUser(userId, accessToken, function (user) {
            if (user == null)
                alert("user undefined");
            else {
                console.log(user);
                nameInput.val(user.name);
                emailInput.val(user.email);
                reknownInput.val(user.reknown);
                bioInput.val(user.bio);
                profilePic.attr('src', user.profilePictureImage);

            }
        });
        $('#btnSaveChanges').click(function () {

        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ProfilePic').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    var result = "";
    function getBase64(file) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
            //console.log(reader.result);
            result = reader.result.split(',').pop();
            postPic(result);
            
        };
        reader.onerror = function (error) {
            console.log('Error: ', error);
            imageError();
        };
    }

    function imageError() { 
        $('#loading').css("visibility", "visible");
        $('#loading').attr('src', "/images/error.jpg");
    }

    $("#myInput").change(function () {
        if (this.files.length>0) {
            readURL(this);
            $('#loading').css("visibility", "visible");
            //imageError();

            getBase64(this.files[0]);
        }
    });

    function postPic(base64) {

        $.ajax({
            // Post username, password & the grant type to /token
            url: properties.hostConnectionString + '/Account/UploadProfilePicAsync',
            method: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            crossDomain: true,
            headers: {
                'Authorization': 'Bearer '
                + accessToken
            },
            data: {
                ImageBase64: base64,
                Id: userId
            },
            success: function (response) {
                console.dir(response)
                if (response != null) {
                    $('#ProfilePic').attr('src', response);
                    $('#loading').css("visibility", "hidden");
                }
            },
            error: function (jqXHR) {
                imageError();
            }
        });
    }

</script>