@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img class="avatar img-circle" alt="avatar" src="//placehold.it/100">
                <h6>Upload a different photo...</h6>
                <input class="form-control" type="file">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="row">
                <div class="col-md-8">
                    <h3>Personal info</h3>
                    <form id="editform" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Reknown:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="reknown">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Biography:</label>
                            <div class="col-md-8">
                                <textarea rows="5" class="form-control" id="bio" placeholder="Biography"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-success" id="btnSaveChanges" type="button" value="Save Changes">
                                <span></span>
                                <input class="btn btn-default" type="reset" value="Cancel">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <form method="post" class="form-horizontal" role="form">
                        <h3>Reset Password</h3>
                        <div class="form-group">
                            <label class="col-md-3 control-label">New password:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirm password:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary" type="button" value="Change Password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var userId = getParameterByName('id');
        var nameInput = $("#name");
        var emailInput = $("#email");
        var reknownInput = $("#reknown");
        var bioInput = $("#bio");

        var user = getLogInUser(userId, accessToken, function (user) {
            if (user == null)
                alert("user undefined");
            else {
                console.log(user);
                nameInput.val(user.name);
                emailInput.val(user.email);
                reknownInput.val(user.reknown);
                bioInput.val(user.bio);
            }
        });
        $('#btnSaveChanges').click(function () {

        });
    });
</script>