@{
    ViewData["Title"] = "Home Page";
}
<style>
    #custom-search-input {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
        margin: 20px 0;
    }

        #custom-search-input input {
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button {
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

            #custom-search-input button:hover {
                border: 0;
                box-shadow: none;
                border-left: solid 1px #ccc;
            }

        #custom-search-input .glyphicon-search {
            font-size: 23px;
        }

    input {
        max-width: 100% !important;
    }


    div .container {
        margin-top: 20px;
    }

    .mb20 {
        margin-bottom: 20px;
    }

    hgroup {
        padding-left: 15px;
        border-bottom: 1px solid #ccc;
    }

        hgroup h1 {
            font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif;
            color: #2a3644;
            margin-top: 0;
            line-height: 1.15;
        }

        hgroup h2.lead {
            font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif;
            color: #2a3644;
            margin: 0;
            padding-bottom: 10px;
        }

    .search-result .thumbnail {
        border-radius: 0 !important;
    }

    .search-result:first-child {
        margin-top: 0 !important;
    }

    .search-result {
        margin-top: 20px;
        padding: 15px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .search-result .col-md-2 {
            border-right: 1px dotted #ccc;
            min-height: 140px;
        }

        .search-result ul {
            padding-left: 0 !important;
            list-style: none;
        }

            .search-result ul li {
                font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;
                line-height: 30px;
            }

                .search-result ul li i {
                    padding-right: 5px;
                }

        .search-result .col-md-7 {
            position: relative;
        }

        .search-result h3 {
            font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif;
            margin-top: 0 !important;
            margin-bottom: 10px !important;
        }

            .search-result h3 > a, .search-result i {
                color: #248dc1 !important;
            }

        .search-result p {
            font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif;
        }

        .search-result span.plus {
            position: absolute;
            right: 0;
            top: 126px;
        }

            .search-result span.plus a {
                background-color: #248dc1;
                padding: 5px 5px 3px 5px;
            }

                .search-result span.plus a:hover {
                    background-color: #414141;
                }

                .search-result span.plus a i {
                    color: #fff !important;
                }

        .search-result span.border {
            display: block;
            width: 97%;
            margin: 0 15px;
            border-bottom: 1px dotted #ccc;
        }

        .search-result .col-md-3 {
            border-right: 1px dotted #ebebeb;
            min-height: 140px;
            text-align: center;
        }

    .col-md-12 h2 {
        text-align: center;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Search for a talent</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="search" class="form-control input-lg" disabled />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="Error" class="alert alert-danger collapse">
        <a id="linkClose" href="#" class="close">&times;</a>
        <div id="ErrorList"></div>
    </div>
    <div id="result"></div>
</div>
<script>
    $(document).ready(function () {
        getAllUsers(accessToken, keyEvent);
    });

    function keyEvent(data) {
        escapeLoading();
        if (data === "Unauthorized") {
            $('#ErrorList').text("You cannot search for a talent because you are not signed in!");
            $('#Error').show('fade');
            return;
        }
        $('#search').prop("disabled", false);
        $('#search').keyup(function () {
            var searchField = $('#search').val();
            var myExp = new RegExp(searchField, "i");
            var output = $(document.createElement('div'));
            if (searchField == "") {
                $('.search-result').remove();
            }
            else {
                $.each(data, function (key, val) {
                    if ((val.userName.search(myExp) != -1) ||
                        (val.bio.search(myExp) != -1)) {
                        var article = $('<article />', { "class": 'search-result row' });

                        var imageContainer = $('<div />', { "class": 'col-xs-12 col-sm-12 col-md-3' });
                        var image = $('<img />', {
                            src: val.profilePictureImage != null ? val.profilePictureImage : '//placehold.it/200', width: 140, height: 140
                        });
                        imageContainer.append(image);

                        var informationContainer = $('<div />', { "class": 'col-xs-12 col-sm-12 col-md-7 excerpet' });
                        var reference = $('<a />', { href: "/Account/Overview?id=" + val.id, text: val.name });
                        var title = $('<h3 />');
                        var subTitle = $('<h6 />', { "class": 'mb-2 text-muted', text: val.reknown });
                        var text = $('<p />', { text: val.bio });
                        var border = $('<span />', { "class": "clearfix" });

                        var button = $('<span />', { "class": "plus" });
                        var btnRef = $('<a />', { href: "/Account/Overview?id=" + val.id });
                        var icon = $('<i />', { "class": "glyphicon glyphicon-search" });

                        title.append(reference);
                        informationContainer.append(title);
                        informationContainer.append(subTitle);
                        informationContainer.append(text);
                        informationContainer.append(border);

                        btnRef.append(icon);
                        button.append(btnRef);
                        informationContainer.append(button);

                        article.append(imageContainer);
                        article.append(informationContainer);
                        output.append(article);
                    }
                });
            }
            $('#result').html(output);
        });
    }
</script>