@{
    ViewData["Title"] = "Home Page";
}

<style>
    #custom-search-input {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
        margin: 20px 0;
    }

        #custom-search-input input {
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button {
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

            #custom-search-input button:hover {
                border: 0;
                box-shadow: none;
                border-left: solid 1px #ccc;
            }

        #custom-search-input .glyphicon-search {
            font-size: 23px;
        }

    input {
        max-width: 100% !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" id="search" class="form-control input-lg" placeholder="Search for a talent" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="result"></div>
</div>
<script>
    $(document).ready(function () {
        getAllUsers(accessToken, keyEvent);
    });

    function keyEvent(data) {
        $('#search').keyup(function () {
            var searchField = $('#search').val();
            var myExp = new RegExp(searchField, "i");
            var output = '<ul class="searchresults">';
            $.each(data, function (key, val) {
                if ((val.userName.search(myExp) != -1) ||
                    (val.bio.search(myExp) != -1)) {
                    output += '<li>';
                    output += '<h2>' + val.userName + '</h2>';
                    //get the absolute path for local image
                    output += '<img src="' + val.profilePictureImage +'" alt="'+ val.Name +'" />';
                    output += '<p>' + val.bio + '</p>';
                    output += '</li>';
                }
            });
            output += '</ul>';
            $('#result').html(output);
        });
    }
</script>